{% extends 'layout.html.twig' %}

{% block title %}Dubai-Shop{% endblock %}

{% block body %}

    <main>
       <!-- <iframe width="760" height="400sy" src="https://www.youtube.com/embed/a4_qWzISsOc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> !-->

        <h1>Actualités</h1>

        <article >
        {% for post in posts %}   
                <div class='actu'>
                    <h2>{{post.title}}</h2>
                    <img src="{{ asset(app_cdn ~ 'produits/' ~ post.picture) }}" alt="articles"/>
                    <p> {{post.content | raw}} </p>
                    <p> Posté le {{post.createdAt | date('d/m/y') }} par Jan </p>
                </div>
        {% endfor %}
        </article>


            <h1>Parfums</h1>
                <ul class="parfum">
                    <li> 
                        <img src="{{asset('image/produits/IMG_7676.jpg')}}" alt="Lattafa femme"/> 
                        <p>Lattafa femme, 100mL</p> 
                        <p>100€</p>
                    </li> 
                    <li>
                        <img src="{{asset('image/produits/IMG_7677.jpg')}}" alt="Lattafa femme"/> 
                        <p>Lattafa homme, 100mL</p>
                        <p>100€</p>
                    </li>
                    <li>
                        <img src="{{asset('image/produits/IMG_7679.jpg')}}" alt="Lattafa femme"/> 
                        <p>Lattafa Oppulent Musk, 100mL</p>
                        <p>100€</p>
                    </li>
                    <li>
                        <img src="{{asset('image/produits/IMG_7679.jpg')}}" alt="Lattafa femme"/> 
                        <p>Lattafa oppulent Musk, 100mL</p>
                        <p>100€</p>
                   </li>
                   <li>
                        <img src="{{asset('image/produits/IMG_7679.jpg')}}" alt="Lattafa femme"/> 
                        <p>Lattafa oppulent Musk, 100mL</p>
                        <p>100€</p>
                   </li>
                </ul>

            <h1>Désodorisants</h1>
            <ul class="parfum">
                <li> 
                    <img src="{{asset('image/produits/IMG_7676.jpg')}}" alt="Lattafa femme"/> 
                    <p>Lattafa femme, 100mL</p> 
                    <p>100€</p>
                </li> 
                <li>
                    <img src="{{asset('image/produits/IMG_7677.jpg')}}" alt="Lattafa femme"/> 
                    <p>Lattafa homme, 100mL</p>
                    <p>100€</p>
                </li>
                <li>
                    <img src="{{asset('image/produits/IMG_7679.jpg')}}" alt="Lattafa femme"/> 
                    <p>Lattafa Oppulent Musk, 100mL</p>
                    <p>100€</p>
                </li>
                <li>
                    <img src="{{asset('image/produits/IMG_7679.jpg')}}" alt="Lattafa femme"/> 
                    <p>Lattafa oppulent Musk, 100mL</p>
                    <p>100€</p>
                </li>
                <li>
                    <img src="{{asset('image/produits/IMG_7679.jpg')}}" alt="Lattafa femme"/> 
                    <p>Lattafa oppulent Musk, 100mL</p>
                    <p>100€</p>
                </li>
            </ul>
    </main>
{% endblock %}
