{% extends 'layout.html.twig' %}

{% block title %}Dubai-Shop{% endblock %}

{% block body %}

    <main>
        <iframe width="100%" height="600px" src="https://www.youtube.com/embed/a4_qWzISsOc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <h1>Actualités</h1>
        <article class="actualite">
                <h2 class="t1">Collection Lataffa</h2>
                <img src="{{ asset('image/produits/IMG_7679.jpg')}}" alt="collection Lataffa" class="imj1">
                
                <p class="p1">
                    Lataffa étant un acteur reconnu au sein des Emirats Arabes unis, il etait évident pour nous de vous faire partager ses produits de qualités
                </p>
                <p class="d1">
                    Posté le <time datetime="2021-01-09">9 janvier</time> par Jan
                </p>

               <h2 class="t2">Arabian oud</h2>
               <img src="{{ asset('image/produits/IMG_7688.jpg')}}" alt="shams el amarat" class="imj2">
               <p class="p2">
                    Venez découvrir la crème de la crème du musk
                </p>
                <p class="d2">
                    Posté le <time datetime="2021-01-01 14:00">3 janvier</time> par Jan
                </p>

                <h2 class="t3">Promotion en cours</h2>
                <img src="{{asset('image/produits/IMG_7688.JPG')}}" alt="shams el amarat" class="imj3">
                <p class="p3">
                    Venez découvrir les promotions en cours pour ces soldes d'hiver. Quoi de mieux qu'un bon parfum pour oublier l'odeur glaciale de l'hiver. 
                </p>
                <div class="d3">
                    Posté le <time datetime="2021-01-01 14:00">3 janvier</time> par Jan
                </div>
            </article>

            <h1>Parfums</h1>
                <ul class="parfum">
                    <li> 
                        <img src="{{asset('image/produits/IMG_7676.JPG')}}" alt="Lattafa femme"/> 
                        <p>Lattafa femme, 100mL</p> 
                        <p>100€</p>
                    </li> 
                    <li>
                        <img src="{{asset('image/produits/IMG_7677.JPG')}}" alt="Lattafa femme"/> 
                        <p>Lattafa homme, 100mL</p>
                        <p>100€</p>
                    </li>
                    <li>
                        <img src="{{asset('image/produits/IMG_7679.JPG')}}" alt="Lattafa femme"/> 
                        <p>Lattafa Oppulent Musk, 100mL</p>
                        <p>100€</p>
                    </li>
                    <li>
                        <img src="{{asset('image/produits/IMG_7679.JPG')}}" alt="Lattafa femme"/> 
                        <p>Lattafa oppulent Musk, 100mL</p>
                        <p>100€</p>
                   </li>
                </ul>

            <h1>Désodorisants</h1>
            <ul class="parfum">
                <li> 
                    <img src="{{asset('image/produits/IMG_7676.JPG')}}" alt="Lattafa femme"/> 
                    <p>Lattafa femme, 100mL</p> 
                    <p>100€</p>
                </li> 
                <li>
                    <img src="{{asset('image/produits/IMG_7677.JPG')}}" alt="Lattafa femme"/> 
                    <p>Lattafa homme, 100mL</p>
                    <p>100€</p>
                </li>
                <li>
                    <img src="{{asset('image/produits/IMG_7679.JPG')}}" alt="Lattafa femme"/> 
                    <p>Lattafa Oppulent Musk, 100mL</p>
                    <p>100€</p>
                </li>
                <li>
                    <img src="{{asset('image/produits/IMG_7679.JPG')}}" alt="Lattafa femme"/> 
                    <p>Lattafa oppulent Musk, 100mL</p>
                    <p>100€</p>
                </li>
            </ul>
    </main>
{% endblock %}
