{% extends 'layout.html.twig' %}

{% block title %} Produits {% endblock %}

{% block stylesheets %} <link href= "{{asset('css/items.css')}}" rel='stylesheet'> {% endblock %}


{% block body %}

    <h2> Produits </h2>

<div class='product'>

 {% for product in products %}

        <a href='{{ path('detail_products', {slug:product.slug}) }}'>
        <img src="{{asset(app_cdn ~ 'produits/' ~ product.picture)}}" alt="parfum {{product.slug}}" class='img'/> 
        <p>{{product.name}}, {{product.quantityMl}}mL</p> 
        <p>{{product.priceHt}}€</p>
        </a>

    {% endfor %}
    
</div>

{% endblock %}
