<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{asset('image/parficon.png')}}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        
        <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
        <link href="{{ asset('js/slick/slick-theme.css') }}" rel="stylesheet" />
        <link href="{{ asset('js/slick/slick.css') }}" rel="stylesheet" />
        {% block stylesheets %}
           {# {{ encore_entry_link_tags('app') }} #}
        {% endblock %}

    </head>

    <body>
    
        <header>
        <nav>
            <ul>
                <li class="burger"><img src="{{asset('image/logo/burger-logo.png')}}" title="Menu"/></li>
                <li><img src="{{ asset('image/logo/search-logo.png') }}" title="Search"/></li>
                <li class="logo"><a href="{{path('home')}}"><img src="{{asset('image/logo/logoDUBIASHOM.png')}}" alt="Logo_dubai-shop" width="200px" height="130px"/></a></li>
                {% if not is_granted("ROLE_USER") %}
                        <li><a href='{{path('app_login')}}'><img src="{{asset('image/logo/user-interfacegold.png')}}" alt="login" title="Connexion" height="28" width='28'> </a></li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{{ path('app_logout') }}">Logout</a>
                        </li>
                    {% endif %}
                

                <li><img src="{{asset('image/logo/VectorHeart.png')}}" alt="favoris" title="Favoris"></li>
                <li> <img src="{{asset('image/logo/VectorBAG.png')}}" alt="Panier" title="Panier"></li>
            </ul>
        </nav>
    </header>

        <nav>
            <ul class="navdekstop">
                <li> <a href="#">Parfums </a>
                    <div class="sub-menu1">
                    <ul>
                        <li><a href="#">Collection Lataffa</a> </li>
                        <li><a href="#"> Musk</a> </li> 
                    </ul>
                    </div>
                </li>
                <li><a href="#">Désodorisants</a> </li>
                <li><a href="#">Bougies </a>
                    <div class="sub-menu1">
                    <ul>
                        <li> <a href="#"> Karamat </a> </li>
                        <li> <a href="#"> Encens </a> </li> 
                    </ul>
                    </div>
                </li>
                <li><a href="#"> Vetements femme </a></li>
                <li><a href="#"> Bijoux </a></li>
                <li><a href="#"> Nous contacter </a></li>
            </ul>
        </nav>

         {% for flash_error in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{'Votre adresse a été validée'}}</div>
    {% endfor %}
        
        {% block body %}
        {% endblock %}

    <footer> 
        <nav>
            <ul>    
                <li>A propos de nous</li>
                <li>Mentions légales</li>
                <li>Commandes et livraisons</li>
                <li>Contact</li>
            </ul>
        </nav>
    </footer>
    
    {% block javascripts %}
    {# {{ encore_entry_script_tags('app') }} #}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="{{ asset('js/slick/slick.js') }}"/></script>
    <script src="{{ asset('js/Script-Slick.js') }}"> </script>

    {% endblock %}
    </body>
</html>
